#nr1
{
	position:fixed;
	top:2%;
	left:15%;
}

#text1
{
	position:fixed;
	top:2.5%;
	left:12.1%;
}

#nr2
{
	position:fixed;
	top:2%;
	left:20%;
}

#text2
{
	position:fixed;
	top:2.5%;
	left:22.5%;
}

#nr3
{
	position:fixed;
	top:6%;
	left:15%;
}

#text3
{
	position:fixed;
	top:6.5%;
	left:9%;
}

#nr4
{
	position:fixed;
	top:6%;
	left:20%;
}

#text4
{
	position:fixed;
	top:6.5%;
	left:22.5%;
}

#nr5
{
	position:fixed;
	top:10%;
	left:15%;
}

#text5
{
	position:fixed;
	top:10.5%;
	left:9%;
}

#nr6
{
	position:fixed;
	top:10%;
	left:20%;
}

#text6
{
	position:fixed;
	top:10.5%;
	left:22.5%;
}


#nr7
{
	position:fixed;
	top:14%;
	left:15%;
}

#text7
{
	position:fixed;
	top:14.6%;
	left:7.3%;
}

#nr8
{
	position:fixed;
	top:14%;
	left:20%;
}

#text8
{
	position:fixed;
	top:14.6%;
	left:22.5%;
}

#nr9
{
	position:fixed;
	top:18%;
	left:15%;
}

#text9
{
	position:fixed;
	top:18.6%;
	left:12.3%;
}

#nr10
{
	position:fixed;
	top:18%;
	left:20%;
}

#text10
{
	position:fixed;
	top:18.6%;
	left:22.5%;
}

#nr11
{
	position:fixed;
	top:22%;
	left:15%;
}

#text11
{
	position:fixed;
	top:22.6%;
	left:11%;
}

#nr12
{
	position:fixed;
	top:22%;
	left:20%;
}

#text12
{
	position:fixed;
	top:22.6%;
	left:22.5%;
}

#nr13
{
	position:fixed;
	top:26%;
	left:15%;
}

#text13
{
	position:fixed;
	top:26.6%;
	left:11%;
}

#nr14
{
	position:fixed;
	top:26%;
	left:20%;
}

#text14
{
	position:fixed;
	top:26.6%;
	left:22.5%;
}

#nr15
{
	position:fixed;
	top:30%;
	left:15%;
}

#text15
{
	position:fixed;
	top:30.6%;
	left:11%;
}

#nr16
{
	position:fixed;
	top:30%;
	left:20%;
}

#text16
{
	position:fixed;
	top:30.6%;
	left:22.5%;
}

#nr17
{
	position:fixed;
	top:34%;
	left:15%;
}

#text17
{
	position:fixed;
	top:34.6%;
	left:12.1%;
}

#nr18
{
	position:fixed;
	top:34%;
	left:20%;
}

#text18
{
	position:fixed;
	top:34.6%;
	left:22.5%;
}

#nr19
{
	position:fixed;
	top:38%;
	left:15%;
}

#text19
{
	position:fixed;
	top:38.6%;
	left:8%;
}

#nr20
{
	position:fixed;
	top:38%;
	left:20%;
}

#text20
{
	position:fixed;
	top:38.6%;
	left:22.5%;
}

#nr21
{
	position:fixed;
	top:42%;
	left:15%;
}

#text21
{
	position:fixed;
	top:42.6%;
	left:8.4%;
}

#nr22
{
	position:fixed;
	top:42%;
	left:20%;
}

#text22
{
	position:fixed;
	top:42.6%;
	left:22.5%;
}

#nr23
{
	position:fixed;
	top:46%;
	left:15%;
}

#text23
{
	position:fixed;
	top:46.5%;
	left:8%;
}

#nr24
{
	position:fixed;
	top:46%;
	left:20%;
}

#text24
{
	position:fixed;
	top:46.5%;
	left:22.5%;
}

#nr25
{
	position:fixed;
	top:50%;
	left:15%;
}

#text25
{
	position:fixed;
	top:50.7%;
	left:12.3%;
}

#nr26
{
	position:fixed;
	top:50%;
	left:20%;
}

#text26
{
	position:fixed;
	top:50.7%;
	left:22.5%;
}

#nr27
{
	position:fixed;
	top:54%;
	left:15%;
}

#text27
{
	position:fixed;
	top:54.7%;
	left:11.8%;
}

#nr28
{
	position:fixed;
	top:54%;
	left:20%;
}

#text28
{
	position:fixed;
	top:54.7%;
	left:22.5%;
}

#nr29
{
	position:fixed;
	top:58%;
	left:15%;
}

#text29
{
	position:fixed;
	top:58.7%;
	left:11.5%;
}

#nr30
{
	position:fixed;
	top:58.1%;
	left:20%;
}

#text30
{
	position:fixed;
	top:58.7%;
	left:22.5%;
}

#nr31
{
	position:fixed;
	top:62%;
	left:15%;
}

#text31
{
	position:fixed;
	top:62.7%;
	left:11.5%;
}

#nr32
{
	position:fixed;
	top:62%;
	left:20%;
}

#text32
{
	position:fixed;
	top:62.7%;
	left:22.5%;
}

#nr33
{
	position:fixed;
	top:66%;
	left:15%;
}

#text33
{
	position:fixed;
	top:66.7%;
	left:11.1%;
}

#nr34
{
	position:fixed;
	top:66%;
	left:20%;
}

#text34
{
	position:fixed;
	top:66.7%;
	left:22.5%;
}

#nr35
{
	position:fixed;
	top:70%;
	left:15%;
}

#text35
{
	position:fixed;
	top:70.7%;
	left:11.1%;
}

#nr36
{
	position:fixed;
	top:70%;
	left:20%;
}

#text36
{
	position:fixed;
	top:70.7%;
	left:22.5%;
}

#nr37
{
	position:fixed;
	top:74%;
	left:15%;
}

#text37
{
	position:fixed;
	top:74.7%;
	left:11.1%;
}

#nr38
{
	position:fixed;
	top:74%;
	left:20%;
}

#text38
{
	position:fixed;
	top:74.7%;
	left:22.5%;
}

#nr39
{
	position:fixed;
	top:78%;
	left:15%;
}

#text39
{
	position:fixed;
	top:78.7%;
	left:12.4%;
}


#nr40
{
	position:fixed;
	top:78%;
	left:20%;
}

#text40
{
	position:fixed;
	top:78.7%;
	left:22.5%;
}
